.subject {
    background-color: lightskyblue;
    background-size: 30 %;
    color: white;
    margin: 20px;
    padding: 20px;
    border: 10 px blue
    padding-top: 40px;
    padding-left: 550px;
}