
/* subject text of cv */
.subject {
    background-color: #1abc9c;
    background-size: 30 %;
    color: white;
    margin: 20px;
    padding: 20px;
    border: 10 px blue
    padding: 40px;
    text-align: center;
  
}